/*=========================================
  HEADER
=========================================*/

.header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 20px;

    padding: 0 30px;

    height: 80px;

    background: var(--color-header);

    border-bottom: 1px solid var(--color-border);

    position: sticky;

    top: 0;

    z-index: 1000;

}

#paginaTemas {
    width: 100%;
    height: calc(100vh - 80px);
    border: none;
}



/*=========================
MENU
=========================*/

.menu-btn{

    width:48px;

    height:48px;

    border-radius:12px;

    background:var(--color-card);

    color:var(--text-primary);

    display:flex;

    align-items:center;

    justify-content:center;

    transition:var(--transition);

}

.menu-btn:hover{

    background:var(--color-primary);

}

/*=========================
PESQUISA
=========================*/

.search{

    flex:1;

    display:flex;

    flex-direction: row-reverse;

    align-items:center;

    gap:12px;

    background:var(--color-card);

    border:1px solid var(--color-border);

    border-radius:14px;

    padding:0 18px;

    height:50px;

}

.search i{

    color:var(--text-muted);

}

.search input{

    background:transparent;

    border:none;

    box-shadow:none;

    padding:0;

    color:var(--text-primary);

}

.search input:focus{

    box-shadow:none;

}

/*=========================
LADO DIREITO
=========================*/

.header-right{

    display:flex;

    align-items:center;

    gap:15px;

}

/*=========================
BOTÕES
=========================*/

.header-right button{

    width:46px;

    height:46px;

    border-radius:12px;

    background:var(--color-card);

    color:var(--text-primary);

    display:flex;

    align-items:center;

    justify-content:center;

    transition:var(--transition);

}

.header-right button:hover{

    background:var(--color-primary);

}

/*=========================
USUÁRIO
=========================*/

.user{

    display:flex;

    align-items:center;

    gap:12px;

    background:var(--color-card);

    padding:8px 15px;

    border-radius:14px;

    border:1px solid var(--color-border);

}

.user img{

    width:45px;

    height:45px;

    border-radius:50%;

    object-fit:cover;

    border:2px solid var(--color-primary);

}

.user strong{

    display:block;

    font-size:15px;

    color:var(--text-primary);

}

.user small{

    color:var(--text-secondary);

    font-size:12px;

}
