/*=========================================
  LAYOUT
=========================================*/

.container{

    display:grid;

    grid-template-columns:var(--sidebar-open) 1fr;

    min-height:100vh;

    transition:grid-template-columns 0.45s cubic-bezier(0.4, 0, 0.2, 1);

    background:var(--color-background);

}

/* =======================
   SIDEBAR
======================= */

.sidebar{

    background:var(--color-sidebar);

    border-right:1px solid var(--color-border);

    display:flex;

    flex-direction:column;

    position:sticky;

    top:0;

    height:100vh;

    z-index:1000;

}

/* =======================
   CONTEÚDO
======================= */

.content{

    display:flex;

    flex-direction:column;

    min-height:100vh;

}

/* =======================
   HEADER
======================= */

.header{

    height:var(--header-height);

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 30px;

    background:var(--color-header);

    border-bottom:1px solid var(--color-border);

}

/* =======================
   TÍTULO
======================= */

.page-title{

    padding:30px;

}

.page-title p{

    margin-top:8px;

}

/* =======================
   CARDS
======================= */

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    padding:0 30px 30px;

}

.card{

    min-height:130px;

    padding:25px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.card span{

    font-size:32px;

    font-weight:700;

    color:var(--color-primary);

    margin-top:10px;

}

/* =======================
   GRID
======================= */

.dashboard-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:20px;

    padding:0 30px 30px;

}

.chart{

    background:var(--color-card);

    border-radius:var(--radius-lg);

    border:1px solid var(--color-border);

    min-height:350px;

    display:flex;

    align-items:center;

    justify-content:center;

    color:var(--text-muted);

}

/* =======================
   TABELA
======================= */

.last-products{

    margin:0 30px 30px;

    background:var(--color-card);

    border-radius:var(--radius-lg);

    border:1px solid var(--color-border);

    padding:25px;

}

.last-products h2{

    margin-bottom:20px;

}

table{

    width:100%;

}

thead{

    background:#1b1b1b;

}

th{

    padding:16px;

    text-align:left;

    color:var(--text-secondary);

}

td{

    padding:16px;

    border-top:1px solid var(--color-border);

}

.container.sidebar-collapse{

    grid-template-columns:var(--sidebar-close) 1fr;

}

.container.sidebar-collapse .logo span{

    opacity:0;

    width:0;

    overflow:hidden;

}

.container.sidebar-collapse .sidebar li span{

    opacity:0;

    width:0;

    overflow:hidden;

}

.container.sidebar-collapse .sidebar li{

    justify-content:center;

    gap:0;

    padding-left:12px;

    padding-right:12px;

}

.container.sidebar-collapse .sidebar-footer button{

    font-size:0;

}

.container.sidebar-collapse .sidebar-footer button i{

    font-size:20px;

}

.logo span{

    font-size:24px;

    font-weight:700;

    color:#fff;

    opacity:1;

    width:auto;

    overflow:hidden;

    transition:
        opacity 0.25s ease,
        width 0.35s ease;

}

.sidebar li span{

    font-size:15px;

    font-weight:500;

    opacity:1;

    width:auto;

    white-space:nowrap;

    overflow:hidden;

    transition:
        opacity 0.25s ease,
        width 0.35s ease;

}

/*=========================================
  SIDEBAR MOBILE
=========================================*/

@media (max-width: 768px){

    /* =========================================
   PESQUISA MOBILE
========================================= */

.search{
    position:relative;
    width:48px;
    max-width: 48px!important;
    height:48px;
    z-index:10002;
    padding: 0!important;
}

.search i{

    width:48px;
    height:48px;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    z-index:2;
}

/* Pesquisa fechada */

.search input{
    position:FIXED;

    top:0;
    right:0;

    width:48px;
    height:48px;

    opacity:0;

    border:none;
    outline:none;

    padding:0 48px 0 15px;

    pointer-events:none;

    transition:
        width 0.35s ease,
        opacity 0.25s ease;
}

/* Pesquisa aberta */

.search.active{
    position:absolute;

    top:0;

    width:100vw;
    height:80px;

    z-index:10003;
}

.search.active input{

    width:100%;
    height:80PX;

    opacity:1;


    background:var(--color-header);

    color:#fff;

    border:none;

    padding-left:80px;
    padding-right:20px;
}

.search.active i{
    z-index:3;
    left: auto;
    right: 45px;
    position: fixed;
}

    .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

    .container{
        display:block;
        position:relative;
        min-height:100vh;
    }

    .sidebar{

        position:fixed;

        top:0;
        left:-280px;

        width:260px;
        min-width:260px;

        height:100vh;

        z-index:10000;

        transition:left 0.35s ease;

    }

    .sidebar.active{

        left:0;

    }

    .content{

        width:100%;
        min-height:100vh;

    }

    .menu-btn{
    width:48px !important;
    height:48px !important;

    min-width:48px !important;
    min-height:48px !important;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:0 !important;
}

.user {
    gap: 0px!important;
    background: transparent!important;
    padding: 0px!important;
    border-radius: 0px!important;
    border: 0px!important;
}

.user small {
display: none!important;

}

.user strong {
    display: none!important;
}

}

/* =========================================
   SUGESTÕES DE BUSCA
========================================= */

.sugestoes-busca {

    position: absolute;

    top: calc(100% + 5px);
    left: 0;

    width: 100%;

    background: var(--color-card);

    border: 1px solid var(--color-border);

    border-radius: 12px;

    box-shadow: var(--shadow-md);

    overflow: hidden;

    display: none;

    z-index: 10010;
}


/* ITEM */

.sugestao-item {

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 14px 18px;

    color: var(--text-secondary);

    cursor: pointer;

    transition: background .2s ease,
                color .2s ease;
}


/* ÍCONE */

.sugestao-item i {

    width: 22px;

    text-align: center;

    color: var(--color-primary);
}


/* HOVER */

.sugestao-item:hover {

    background: var(--color-hover);

    color: #fff;
}


/* TEXTO */

.sugestao-item span {

    font-size: 14px;

}


/* MOBILE */

@media (max-width: 768px) {

    .search.active .sugestoes-busca {

        top: 80px;

        left: 0;

        width: 100vw;

        border-radius: 0 0 12px 12px;

    }

}


